## Data Exploration

In [33]:
# Import libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline
# warnings.filterwarnings('ignore')

In [34]:
# Set pd view, column size and col width to max
# convert the column labels to lowercase

pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_columns', None)
df.columns = df.columns.str.lower()

In [35]:
# Import cleaned data

df = pd.read_csv('maryland_vehicle_crashes_cleaned_data.csv')
df.head()

C:\Users\kenes\AppData\Local\Temp\ipykernel_18476\2831467970.py:3: DtypeWarning: Columns (19,23) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('maryland_vehicle_crashes_cleaned_data.csv')

,year,quarter,light_desc,county_desc,muni_desc,junction_desc,collision_type_code,surf_cond_desc,lane_code,rd_cond_desc,rd_div_desc,fix_obj_desc,report_type,weather_desc,acc_date,acc_time,signal_flag_desc,c_m_zone_flag,agency_code,harm_event_desc1,harm_event_desc2,logmile_dir_flag_desc,mainroad_name,feet_miles_flag_desc,reference_road_name,longitude,latitude
0,2020,Q2,Daylight,Baltimore,NaN,NaN,88,NaN,NaN,NaN,NaN,Not Applicable,Property Damage Crash,Not Applicable,2020-06-18,1900-01-01 15:15:00,No,N,BACOPD,Parked Vehicle,Not Applicable,NaN,NaN,NaN,NaN,-76.503693,39.277263
1,2022,Q2,Dark Lights On,Montgomery,NaN,NaN,88,NaN,NaN,NaN,NaN,Not Applicable,Property Damage Crash,NaN,2022-04-22,1900-01-01 22:49:00,No,N,MONTGOMERY,Other Vehicle,Not Applicable,NaN,NaN,NaN,NaN,-77.097021,38.992210
2,2020,Q4,NaN,Baltimore,NaN,NaN,88,NaN,NaN,NaN,NaN,Not Applicable,Property Damage Crash,NaN,2020-10-27,1900-01-01 17:50:00,No,N,BACOPD,Other Vehicle,Not Applicable,NaN,NaN,NaN,NaN,-76.503080,39.323620
3,2022,Q1,Daylight,Baltimore,NaN,NaN,88,NaN,NaN,NaN,NaN,Not Applicable,Property Damage Crash,NaN,2022-02-26,1900-01-01 12:00:00,No,N,BACOPD,Other Vehicle,Not Applicable,NaN,NaN,NaN,NaN,-76.628028,39.411213
4,2022,Q4,Daylight,Baltimore,NaN,NaN,11,NaN,NaN,NaN,NaN,Not Applicable,Property Damage Crash,NaN,2022-12-12,1900-01-01 15:45:00,No,N,BACOPD,Parked Vehicle,Not Applicable,NaN,NaN,NaN,NaN,-76.724014,39.377559

In [26]:
# Summary statistics

df.describe()

,year,muni_desc,collision_type_code,lane_code,longitude,latitude
count,878343.000000,0.0,878343.000000,668083.000000,878343.000000,878343.000000
mean,2018.416858,NaN,21.285662,1.488595,-76.745367,39.144806
std,2.284717,NaN,29.836360,0.805260,0.469052,0.311044
min,2015.000000,NaN,0.000000,1.000000,-79.996100,37.000000
25%,2016.000000,NaN,3.000000,1.000000,-76.940603,38.981626
50%,2018.000000,NaN,11.000000,1.000000,-76.710888,39.224338
75%,2020.000000,NaN,17.000000,2.000000,-76.574076,39.346372
max,2022.000000,NaN,99.000000,18.000000,-75.000000,39.994802